# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env

# Kubernetes
*.kubeconfig
kubectl
minikube-linux-amd64

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
